# Archivos de entorno y credenciales
.env
*.env
*.key
*.pub
data/
server/data/

# Binarios y compilaciones
dist/
dist-all-platforms/
build/
*.exe
client-packager/tools/*.exe
client-packager/output/

# Rust y Flutter build artifacts
target/
**/target/
**/build/
.dart_tool/
**/.dart_tool/

# Python
__pycache__/
*.pyc

# SO
.DS_Store
Thumbs.db
